.blog {
  .intro {
    padding-top: calc(var(--height-header) + 75px);
    padding-bottom: 92px;

    .textboxFlex {
      margin-bottom: 59px;

      .desc {
        max-width: 568px;
      }
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--cl-fourth);
      border-radius: 40px;
      overflow: hidden;

      &-content {
        padding: 58px 78px 58px 47px;

        .heading {
          margin-top: 21px;
          margin-bottom: 16px;

          @include text(db, 2.8rem, 4rem, white, initial);

          a {
            letter-spacing: 0.028rem;

            @include text(db, 2.8rem, 4rem, white, initial);

            @include transition(0.3s);

            &:hover {
              color: var(--cl-first);
            }
          }
        }

        .desc {
          @include overtext(3);
        }

        .author {
          display: none;
        }
      }

      &-img {
        display: flex;
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: transform 0.3s;
          -webkit-transition: transform 0.3s;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      &__item {
        grid-template-columns: 1fr;

        &-content {
          padding: 42px 23px 36px 24px;
          grid-row: 2/3;
          position: relative;

          .heading {
            font-size: 2.2rem;
            line-height: 3.1rem;
            letter-spacing: 0;
            margin-top: initial;

            @include overtext(3);

            a {
              font-size: 2.2rem;
              line-height: 3.1rem;
              letter-spacing: 0;
            }
          }

          .desc {
            margin-bottom: 32px;
          }

          .tag {
            position: absolute;
            top: -18px;
            z-index: 1;
          }

          .author {
            display: flex;
            padding-top: 38px;
            position: relative;

            &::before {
              content: "";
              width: 100%;
              height: 1px;
              position: absolute;
              background: rgba(255, 255, 255, 0.1);
              top: 0;
            }
          }
        }
      }
    }

    @include xs {
      padding-top: calc(var(--height-header) + 48px);

      .textboxFlex {
        flex-direction: column;
        grid-gap: 16px;
        align-items: flex-start;
        margin-bottom: 48px;

        .desc {
          max-width: 100%;
        }
      }
    }
  }

  .subscribe {
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: var(--cl-first);

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__thumb {
      display: flex;

      .heading {
        padding-left: 25px;
        max-width: 572px;
      }
    }

    &__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-radius: 100px;
      border: 2px solid transparent;
      padding: 8px 8px 8px 16px;
      overflow: hidden;
      width: 480px;

      @include transition(0.2s);

      &.--formerror {
        border: 2px solid red;

        &:focus-within {
          border: 2px solid red;
        }
      }

      &:focus-within {
        border: 2px solid var(--cl-fourth);
      }

      input {
        outline: none;
        height: 100%;
      }

      input[type="email"] {
        padding-right: 20px;
        width: 100%;
        flex: 1;
        outline: none;
        border: none;

        &::placeholder {
          @include text(dr, 1.6rem, 2.6rem, var(--cl-third), initial);
        }
      }

      input[type="submit"] {
        height: 64px;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 0.16rem;

        @include text(db, 1.4rem, 1.6rem, white, uppercase);
        @include transition(0.3s);

        &:hover {
          background-color: var(--cl-second);
        }
      }

      .error {
        position: absolute;
        bottom: -10%;

        @include text(dr, 1.8rem, 0, red, initial);

        bottom: -10px;
      }
    }

    @media screen and (max-width: 1150px) {
      padding-top: 80px;
      padding-bottom: 80px;

      .container {
        flex-direction: column;
        gap: 20px;
      }

      &__thumb {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 32px;
        text-align: center;

        .heading {
          padding-left: initial;
          max-width: max-content;
        }
      }

      &__form {
        width: 100%;
      }
    }

    @include xs {
      &__form {
        background-color: initial;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: initial;
        gap: 20px;

        input[type="email"] {
          width: 100%;
          flex: initial;
          height: 80px;
          border-radius: 100px;
          padding-left: 16px;
        }

        input[type="submit"] {
          background-color: var(--cl-second);
          height: 70px;
          width: 100%;

          &:hover {
            background-color: white;
            color: var(--cl-first);
          }
        }
      }
    }
  }

  .posts {
    padding-top: 148px;
    padding-bottom: 80px;

    .textboxFlex {
      .tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .tab {
          background-color: #1a203b;
          height: 40px;
          padding: 0 24px;
          border-radius: 80px;
          font-family: dr;
          font-size: 1.6rem;
          text-transform: initial;
          cursor: pointer;
          letter-spacing: 0;
          line-height: 2.6rem;

          @include mid(true);
          @include transition(0.3s);

          &:hover {
            background-color: var(--cl-first);
            color: white;
          }

          &.--tabActive {
            background-color: var(--cl-first);
          }

          &-detail {
            @include text(db, 1.6rem, 1.6rem, white, uppercase);

            letter-spacing: 0.16rem;
            height: 70px;
            padding: 0 32px;

            @include transition(0.3s);

            &:hover {
              background-color: var(--cl-first);
              color: white;
            }
          }
        }
      }
    }

    .wrap {
    }

    &__list {
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--gap);
      margin-top: 56px;
      margin-bottom: 26px;
      display: none;

      &.--active {
        display: grid;
      }
    }

    &__listdetail {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--gap);
      margin-top: 56px;
      margin-bottom: 26px;

      @include sm {
        grid-template-columns: 1fr;
      }
    }

    &__pagination {
      @include mid(true);

      .pagipage {
        display: flex;

        li {
          padding-left: 16px;
          padding-right: 16px;

          a {
            color: white;

            @include transition(0.3s);

            &.pagiActive {
              color: var(--cl-first);
            }

            &:hover {
              color: var(--cl-first);
            }
          }
        }
      }

      .pagibtn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        border-radius: 999px;
        position: relative;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:first-child {
          background-color: #1a1f3a;
          pointer-events: none;
          cursor: default;
        }

        &:last-child {
          background-color: var(--cl-fourth);

          @include transition(0.3s);

          &:hover {
            background-color: var(--cl-first);
          }
        }
      }
    }

    @include sm {
      &__list {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media screen and (max-width: 650px) {
      padding-top: 80px;

      .textboxFlex {
        flex-direction: column;
        gap: 24px;

        .tabs {
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          grid-gap: 16px;

          .tab {
            height: 48px;
            padding: initial;
            width: 100%;

            &.tab-detail {
              height: 70px;
            }

            &.--tabActive {
              background-color: var(--cl-first);
            }
          }
        }
      }

      &__list {
        grid-template-columns: 1fr;
        gap: 16px;
        margin-top: 24px;
        margin-bottom: 16px;
      }
    }
  }

  .detail {
    padding-top: calc(var(--height-header) + 56px);
    padding-bottom: 120px;

    .author {
      gap: 24px;

      .author__info-name {
        margin-bottom: 8px;
      }
    }

    .textbox {
      margin-top: 34px;
      margin-bottom: 64px;

      .heading {
        margin-bottom: 16px;
      }
    }

    &__contain {
      &-img {
        display: flex;
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      &-article {
        padding: 45px 102.5px 0px 102.5px;

        .textunder {
          position: relative;

          a {
            color: white;
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: white;
            bottom: 0;
            left: 0;
          }
        }

        .thumb {
          margin-bottom: 45px;
          margin-top: 45px;

          img {
            width: 100%;
            height: auto;
          }

          figcaption {
            font-style: italic;
            text-align: center;

            @include text(dr, 1.6rem, 2.6rem, white, initial);
          }
        }

        .blockquote {
          margin-top: 45px;
          margin-bottom: 45px;
          padding: 40px 50px;
          background-color: var(--cl-fourth);
          border-radius: 30px;
        }

        .share {
          margin-top: 56px;
          justify-content: flex-end;
          display: flex;
          gap: 17px;
          align-items: center;

          &__social {
            display: flex;
            gap: 12px;
          }
        }
      }
    }

    @media screen and (max-width: 1000p) {
    }

    @include xs {
      padding-top: calc(var(--height-header) + 48px);
      padding-bottom: 80px;

      .textbox {
        margin-top: 32px;
        margin-bottom: 32px;
      }

      &__contain {
        &-article {
          padding: 30px 50px 0px 50px;

          .thumb {
            margin-bottom: 30px;
            margin-top: 30px;

            figcaption {
              text-align: left;
            }
          }

          .blockquote {
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 32px;
          }

          .share {
            margin-top: 37px;
          }
        }
      }
    }

    @include xxs {
      &__contain {
        &-article {
          padding: 30px 0px 0px 0px;
        }
      }
    }
  }
}
